<div class="container">
    <h2>Your Shopping Cart</h2>

    @if (items.length > 0) {
        @for (item of items; track item.id) {

            <!-- Passes in the item from the array to the child CartItem component -->
            <!-- Connects the quantityChange event to ShoppingCart's updateQuantity function -->
            <!-- And connects the remove event to ShoppingCart's removeItem function -->

            <!-- TODO: bind the remove event to the removeItem function, passing in item.id -->
            <app-cart-item
                [item]="item"
                (quantityChange)="updateQuantity(item.id, $event)"
            />
        }
        
        <h3>Total Cost: ${{ totalCost }}</h3>
    } @else {
        <p>Your cart is empty.</p>
    }
</div>